<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <h4>Expenses by Category</h4>
        <canvas id="expenseChart"></canvas>
    </div>
    <div class="col-3">
        <h4>Income by Category</h4>
        <canvas id="incomeChart"></canvas>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h4>Monthly Income vs Expenses</h4>
        <canvas id="compChart"></canvas>
    </div>
    <div class="col-3"></div>
</div>