{% extends "base.html" %}
{% block title %}Your Finances{% endblock %}
{% block content %}
<h1>Your Finances</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
<li class="nav-item" role="presentation">
    <button class="nav-link active" id="expenses-tab" data-bs-toggle="tab" data-bs-target="#expenses-tab-pane" type="button" role="tab" aria-controls="expenses-tab-pane" aria-selected="true">Expenses</button>
</li>
<li class="nav-item" role="presentation">
    <button class="nav-link" id="income-tab" data-bs-toggle="tab" data-bs-target="#income-tab-pane" type="button" role="tab" aria-controls="income-tab-pane" aria-selected="false">Income</button>
</li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="expenses-tab-pane" role="tabpanel" aria-labelledby="expenses-tab" tabindex="0">
        {% include "finances/finance_dashboard/expenses.html" %}
    </div>
    <div class="tab-pane fade" id="income-tab-pane" role="tabpanel" aria-labelledby="income-tab" tabindex="0">
        {% include "finances/finance_dashboard/income.html" %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/my_finances.js') }}"></script>
{% endblock %}